.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;

  .header__title {
    font-size: 1.3em;
    letter-spacing: .5em;
    color: $lightThemeMainText;
  }

  .header__theme-icon {
    height: 1.3em;
  }
}