.todo-items {
  margin-bottom: 22px;
  border-radius: 7px;
  overflow: hidden;


  .todo-items__item {
    background-color: #fff;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .todo-items__checkbox {
      user-select: none;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;
      display: grid;
      place-items: center;
      min-width: 20px;
      min-height: 20px;
      border: 2px solid $lightInputBorder;
      margin-right: 12px;
  
      .todo-items__check {
        height:45%;
      }
  
      &.checked {
        background: $checkBg;
        border: none;
      }
    }

    .todo-items__add-button {
      user-select: none;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;
      display: grid;
      place-items: center;
      min-width: 20px;
      min-height: 20px;
      width: 20px;
      height: 20px;
      border: 2px solid $lightInputBorder;
      margin-right: 12px;
      outline: none;

      .todo-items__plus {
        fill: darken($lightInputBorder, 10);
        height:55%;
        width: 55%;
        color: black;
      }
    }
  
    .todo-items__input {
      font-family: $fontStack;
      flex-grow: 1;
      border: none;
      height: 22px;
      outline: none;
      color: $lightTodoTextColor;
      font-size: 1em;
  
      &::placeholder {
        color: $lightTextGreyedOut;
      }
    }
  
    .todo-items__delete {
      height: 14px;
      width: 14px;
      min-height: 14px;
      min-width: 14px;
      cursor: pointer;
      margin-left: 12px;
      user-select: none;
    }
  
    .todo-items__text {
      word-break: break-word;
      color: $lightTodoTextColor;
    }
  }  
}