.todo-items {
  .todo-items__item-list {
    margin-bottom: 1.46rem;
    border-radius: .46rem;
    overflow: hidden;
  }

  .todo-items__draggable {
    border-bottom: 1px solid $lightInputBorder;
  }

  .todo-items__draggable__dragging {
    border-radius: .46rem;
    border: 1px solid $lightInputBorder;
  }
  
  .todo-items__item {
    background-color: $lightThemeTodoBg;
    padding: .93rem 1.33rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .todo-items__checkbox {
      background-color: $lightThemeTodoBg;
      user-select: none;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;
      display: grid;
      place-items: center;
      min-width: 1.33rem;
      min-height: 1.33rem;
      border: 2px solid $lightInputBorder;
      margin-right: .8rem;
  
      .todo-items__check {
        height:45%;
      }
  
      &.checked {
        background: $checkBg;
        border: none;
      }
    }
  
    .todo-items__add-button {
      user-select: none;
      cursor: pointer;
      background-color: transparent;
      border-radius: 50%;
      display: grid;
      place-items: center;
      min-width: 20px;
      min-height: 20px;
      width: 1.33rem;
      height: 1.33rem;
      border: 2px solid $lightInputBorder;
      margin-right: .8rem;
      outline: none;
  
      .todo-items__plus {
        fill: darken($lightInputBorder, 10);
        height:55%;
        width: 55%;
      }
    }
  
    .todo-items__input {
      font-family: $fontStack;
      flex-grow: 1;
      border: none;
      height: 1.46rem;
      outline: none;
      color: $lightTodoTextColor;
      font-size: 1em;
  
      &::placeholder {
        color: $lightTextGreyedOut;
      }
    }
  
    .todo-items__delete {
      height: .93rem;
      width: .93rem;
      min-height: .93rem;
      min-width: .93rem;
      cursor: pointer;
      margin-left: .8rem;
      user-select: none;
    }
  
    .todo-items__text {
      word-break: break-word;
      color: $lightTodoTextColor;
    }
  }  
  
  .todo-items__instructions {
    margin: 3rem;
    text-align: center;
    color: $lightTextGreyedOut;
  }
}

.todo-items.dark {

  .todo-items__draggable {
    border-bottom: 1px solid $darkInputBorder;
  }

  .todo-items__draggable__dragging {
    border: 1px solid $darkInputBorder;
  }

  .todo-items__item {
    background-color: $darkThemeTodoBg;

    .todo-items__text {
      color: $darkThemeTodoTextColor;
    }

    .todo-items__input {
      background-color: $darkThemeTodoBg;
      color: $darkThemeTodoTextColor
    }

    .todo-items__add-button {
      border: 2px solid $darkInputBorder;
  
      .todo-items__plus {
        fill: lighten($darkInputBorder, 5);
      }
    }

    .todo-items__checkbox {
      border: 2px solid $darkInputBorder;
    }
  }
}