// "utility" classes

.grow {
  flex-grow: 1 !important;
}

.grey {
  color: $lightTextGreyedOut !important;
}

.highlighted {
  color: $highlightColor !important;
  font-weight: $fontBoldWeight !important;
}

.crossed-off {
  text-decoration: line-through !important;
}

.cursor-pointer {
  cursor: pointer !important;
}