//colors
  //general
    $primaryColor: hsl(220, 98%, 61%);
    $checkBg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    $highlightColor: hsl(220, 98%, 61%);

  //light theme
    $lightThemeTodoBg: #fff;
    $lightThemeBg: #f6f6f8;
    $lightThemeMainText: #fffcff;
    $lightInputBorder: #e6e5ea;
    $lightTextGreyedOut: #b6b5ba;
    $lightTodoTextColor: #4d5066;

  //dark theme
    $darkThemeTodoBg: #25273c;
    $darkThemeTodoTextColor: #dadcf3;
    $darkInputBorder: #37394e;
    $darkThemeBg: #161620;

//typography
  $fontSize: 15px;
  $desktopFontSize: 18px;
  $fontStack: 'Josefin Sans', Arial, Helvetica, sans-serif;
  $fontNormalWeight: 400; 
  $fontBoldWeight: 700;

//breakpoints
  $desktopBreakpoint: 700px;