//colors
  //general
    $primaryColor: hsl(220, 98%, 61%);
    $checkBg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  //light theme
    $lightThemeBg: #f6f6f8;
    $lightThemeMainText: #fffcff;
    $lightInputBorder: #e6e5ea;
    $lightTextGreyedOut: #b6b5ba;
    $lightTodoTextColor: #4d5066;    ;

  //dark theme
    $veryDarkBlue: hsl(235, 21%, 11%);
    $veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    $lightGrayishBlue: hsl(234, 39%, 85%);
    $lightGrayishBlueHover: hsl(236, 33%, 92%);
    $darkGrayishBlue: hsl(234, 11%, 52%);
    $veryDarkGrayishBlue: hsl(233, 14%, 35%);
    $veryDarkGrayishBlue: hsl(237, 14%, 26%);

//typography
  $fontSize: 18px;
  $fontStack: 'Josefin Sans', Arial, Helvetica, sans-serif;
  $fontNormalWeight: 400; 
  $fontBoldWeight: 700;