@import 'vars', 'containers', 'header', 'todo-items';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightThemeBg;
  font-family: $fontStack;
  font-size: $fontSize;
  position: relative;
}

.bg-img {
  position: absolute;
  z-index: -999;
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.highlighted {
  color: $highlightColor !important;
  font-weight: $fontBoldWeight;
}

.grey {
  color: $lightTextGreyedOut;
}

.crossed-off {
  text-decoration: line-through;
  color: $lightTextGreyedOut;
}


// these are some bootstrap classes, i only needed a couple so i didn't want to import the whole stylesheet
.m-5 {
  margin: 3rem !important;
}

.text-center {
  text-align: center !important;
}