@import 'vars', 'containers', 'header', 'todo-items', 'utils';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightThemeBg;
  font-family: $fontStack;
  font-size: $fontSize;
  position: relative;
}

.bg-img {
  position: absolute;
  z-index: -999;
  width: 100%;
}
